@model IQueryable<TodoListApp.WebApp.Data.TodoItem>
@{
    ViewData["Title"] = "All items";
}

<a id="add" asp-action="Add" class="btn btn-primary">Add</a>

<hr />

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.IsComplete).Titled("Status").RenderedAs(model => model.IsComplete == true ? "Complete" : "Pending");        
        columns.Add(model => model.Description).Titled("Description");
        columns.Add(model => model.DateOfCreation).Titled("Created").Formatted("{0:dd/MM/yy hh:mm:ss}");
        columns.Add(model => model.DateOfLastUpdate).Titled("Last Update").Formatted("{0:dd/MM/yy hh:mm:ss}");;
    })
    )