@model TodoListApp.WebApp.Models.AdminViewModel

<h2>Statistics</h2>
<p>
    Total users: <span id="totalUsers">@Model.TotalUsers</span><br/>
    Pending tasks: <span id="totalPendingTasks">@Model.TotalPendingTasks</span><br/>
    Completed tasks: <span id="totalCompletedTasks">@Model.TotalCompletedTasks</span><br/>
</p>